@model Dealer

@{
    ViewData["Title"] = "Add New Dealer";
}

<h2>Dealer Registration Form</h2>

<form asp-controller="Dealer" asp-action="Create" method="post">
    <div class="form-group">
        <label for="Name">Dealer Name</label>
        <input type="text" class="form-control" id="Name" name="Name" required>
    </div>
<div class="form-group">
        <label for="RegistrationDate">Registration Date</label>
        <input type="date" class="form-control" id="RegistrationDate" name="RegistrationDate" required>
    </div>
    <div class="form-group">
        <label for="AutoPartName">AutoPart Name</label>
        <input type="text" class="form-control" id="AutoPartName" name="AutoPartName" required>
    </div>
    <div class="form-group">
       <label for="Manufacturer">Manufacturer</label>
<input type="text" class="form-control" id="Manufacturer" name="Manufacturer" required>
    </div>
    <div class="form-group">
        <label for="MobileNumber">Mobile Number</label>
        <input type="text" class="form-control" id="MobileNumber" name="MobileNumber" required>
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" id="Email" name="Email" required>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="Description" name="Description" required>
    </div>
</div>
    <button type="submit" class="btn btn-primary">Add Dealer</button>
</form>
